@import 'normalize.css';
@import './Responsive.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  // Tối ưi hiển thị nhanh nhất
  text-rendering: optimizeSpeed;
  color: $black;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
