// Mixin
$sm: 540px;
$md: 767px;
$lg: 1024px;
$xl: 1140px;
$xxl: 1580px;

// Responsive
@mixin min-sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin min-md {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin min-lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin min-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin min-xxl {
  @media screen and (min-width: $xxl) {
    @content;
  }
}